pillow
numpy
matplotlib

spidev

# Specific adafruit breakout board libraries:
adafruit-circuitpython-rgb-display
adafruit-circuitpython-mcp9808
adafruit-circuitpython-si7021


# data server requirements
Flask