[Unit]
Description=MagicMirror
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/pi/MagicMirror
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target